<script src="{{ "/js/jquery.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/skel.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/util.js" | prepend: site.baseurl }}"></script>
<!--[if lte IE 8]><script src="{{ "/assets/js/ie/respond.min.js" | prepend: site.baseurl }}"></script><![endif]-->
<script src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>
<!-- <script src="http://code.jquery.com/jquery-latest.js" type="text/javascript"></script> -->
<!-- <script src="/assets/hook/hook.js" type="text/javascript"></script> -->
<script src="/assets/music/audio.min.js" type="text/javascript"></script>

